---
const { title, description } = Astro.props;
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es" class="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title || "Atelier Medical"}</title>
  {description && <meta name="description" content={description} />}
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link 
    rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=block" 
  />

  <link 
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" 
    rel="stylesheet"
  />
  <link rel="preload" as="image" href="/_astro/hero-main.l3GbOhJu_Z1pQRYK.webp" fetchpriority="high" />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
</head>

<body class="bg-surface text-on-surface font-body selection:bg-tertiary-fixed selection:text-on-tertiary-fixed">

  <slot />

<style is:global>
  /* Solo dejamos lo que NO está en el global.css */
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
  }

  .glass-nav {
    background: rgba(248, 249, 250, 0.8);
    backdrop-filter: blur(12px);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
</body>
</html>