---
import '@fontsource/manrope';
import '@fontsource/newsreader';

const { title, description } = Astro.props;
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es" class="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title || "Atelier Medical"}</title> 
  {description && <meta name="description" content={description} />}
  
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  
  <meta name="generator" content={Astro.generator} />
</head>

<body class="bg-surface text-on-surface font-body selection:bg-tertiary-fixed selection:text-on-tertiary-fixed">

  <slot />

<style is:global>
  .glass-nav {
    background: rgba(248, 249, 250, 0.8);
    backdrop-filter: blur(12px);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
</body>
</html>